.color-input {
  position: relative;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid $grey-700;
  box-sizing: border-box;
  vertical-align: middle;
  &.focus {
    border: 3px solid rgba($blue-700, 0.8);
  }
  & > .form {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
