#app {
  padding-right: $sidebar-width;
  // We're NOT going to support mobile environment; since it uses keyboard and
  // stuff, it's completely meaningless.
  & > .content {
    display: block;
    width: 100%;
  }
  & > .sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: $sidebar-width;
    background-color: $sidebar-color;
    border-left: 1px solid $sidebar-border-color;
    & > .content {
      width: 100%;
      min-height: 100%;
      height: 100%;
      overflow-y: auto;
    }
  }
}
