.image-list {
  display: block;
  & > .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    & > .image {
      display: inline-block;
      width: 20em;
      margin: 0.2em;
    }
  }
}
