.image-item {
  display: block;
  width: 480px;
  & > .image-tags {
    list-style: none;
    padding: 0.2em;
    margin: 0;
    & > li {
      display: inline-block;
      margin: 0 0.1em;
    }
  }
  & > .path {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.image-tag {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid $grey-700;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 3px;
  &.selected {
    border: 3px solid $grey-700;
  }
}
